<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>University Forum</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src = "{{ url_for('static', filename='logooo.png') }}" class="logo">  
                <a href="/profile"><img src = "{{ url_for('static', filename='profileimg.png') }}" class="profile"></a>
            </div>
            <div class="navpane">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/announcements">Announcements</a></li>
                    <li><a href="/communities">Communites</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/maps">Maps</a></li>
                    <li><a href="/help">Help</a></li>
                    <ul>
                        <textarea id="search" rows="1" placeholder="Search..."></textarea>
                    </ul>
                </ul>
            </div>
            <div class="data">
                <div class="contents2">
                    <form action="" method='POST'>
                        <div class="row">
                            <div class="input-group">
                                <input type="text" id="name" name="name" required>
                                <label for="name"><i class='bx bxs-user'></i> Name</label>
                            </div>
                            <div class="input-group">
                                <input type="text" id="name" name="phone" required>
                                <label for="number"><i class='bx bxs-phone'></i> Phone</label>

                            </div>
                        </div>
                        <div class="input-group">
                            <input type="email" id="name" name = "email" required>
                            <label for="email"><i class='bx bxs-envelope'></i> Email Id</label>
                        </div>
                        <div class="input-group">
                            <textarea class= "textarea1" id="message" name="message" rows="8" required></textarea>
                            <label for="message"><i class='bx bxs-message-rounded'></i> Your message</label>
                        </div>
                        
                        <button class="button1" type="submit"><span class="span1"></span>Submit</button>
                        
                    </form>


                </div>



            </div>
        </div>
    </body>
</html>    
        
        
            