<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta HTTP-EQUIV="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>University Forum </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
    </head>
    <body>
        <div class="wrapper">
            <form action="" method='POST'>
                <h1>Login</h1>
                <div class="error">{{ message }}</div>
                <div class="input-box">
                    <input name="email" type="text" placeholder="Email ID" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input name="pass" type="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="remember-forgot">
                    <label><input name="rememberr" type="checkbox"> Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit"class="btn">Login</button>
                <div class="success">{{ success }}</div>

                <div class="register-link">
                    <p>Don't have an account? <a href="/registration">Register</a></p>
                </div>
            </form>
        </div>
    </body>

</html>