<html>
    <head>
        <title>University Forum</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="banner">
            <div class="profile">
                <div class="picture">
                    <img src="{{ url_for('static', filename='profileimg.png') }}" class="pic">
                </div>
                <div class="name">
                  <p>Name: {{ name }}</p>
                </div>
                <div class="name">
                  <p>Enrollment Number: {{ enroll }}</p>
                </div>
                <div class="name">
                  <p>Email ID: {{ email }}</p>
                </div>
                <div class="name">
                  <p>Course: {{ course }}</p>
                </div>
                
            </div>
        </div>
    </body>
</html>