@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}



.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('mitlogo.jpg') no-repeat;
  background-size: cover;
  overflow-y: auto;
  background-position: bottom 50px;
}


.profile{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(200px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  height: auto;
  width: auto;
}

.pic{
  width: 150px;

  
}
.picture{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name{
  margin: 20;
  font-size: 25px;
  align-items: center;
  display: flex;
}